	header {
		margin-left: auto;
		margin-right: auto;
		height: auto;
		width: auto;
		display: block;
		position: absolute;
		background: white; 
	}

		header .profpict {
			margin-top: 120px;
			float: right;
			margin-right: 120px; 
		}

		header .profpict:hover{
			transform: scale(1.05, 1.05);
		}


		header h1 {
			font-family: "Scope One";
			font-weight: 100;
			font-size: 60px;
			background: white;
			color: rgba(0, 0, 0, 0.8);
			margin-left: 150px;
			margin-top: 100px;
			margin-bottom: 2px; 
		}

		header h1:hover{
			color: dimgray;
		}

		header .navig {
			margin-left: 135px;
			margin-bottom: 50px;
			display: inline-block; 
		}

			header .navig a {
				margin-left: 15px;
				color: rgba(0, 0, 0, 0.6);
				font-weight: 700;
				font-size: 14px;
				font-family: "Scope One";
				text-transform: uppercase; 
			}
	
				header .navig a:hover {
					color: black;
				}

		header .desc {
			width: 600px;
			height: 180px;
			margin-left: 150px;
			margin-right: 600px;
			font-family: "Scope One";
			font-size: 20px; 
		}

		header .kicker {
			width: 600px;
			height: 30px;
			margin-left: 150px;
			margin-right: 600px;
			font-family: "Source Sans Pro";
			font-size: 14px; 
		}
		
		header .icon {
			margin-top: 10px;
			margin-left: 148px;
			display: inline-block; 
			white-space: nowrap;
		}

			header .icon img{
				margin-left: 2px;
				border-radius: 50%;
				height: 30px;
				width: 30px;
			}
			
			header .icon img:hover {
				transform: scale(1.05, 1.05);
			}

	header ::selection {
		background: rgb(161, 177, 202);
		color: aliceblue;
	}

	header ::-moz-selection {
		background: rgb(161, 177, 202);
		color: aliceblue;
	}